* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background-image: url(header.jpg);
}

h1 {
    color: white;
    font-size: 64px;
}
h2 {
    margin: center;
    width: 100%;
    text-align: center;
}
.container{
    background: white;
}
.header{
    margin: center;
    background-color: rgb(89, 89, 89);
    text-align: center;
    padding: 10px;
    background-size: cover;
}
.card{
    margin: auto;
    width: 100%;
    align-content: center;
}